.detailscontact {
    position: relative;
    font-family: serif;
    border-style: solid;
    border-color: #DFE2E5;
    border-width: thin;
    width: 600px;
    height: 400px;
}

h3 {
    text-align: center;
    font-weight: normal;
    padding: 3%;
    border-bottom-style: solid;
    border-bottom-color: #DFE2E5;
    border-bottom-width: thin;
}

.photo {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 20%;
  height: auto;
  border-color: #A7D076;
}